#myImg{
    aspect-ratio: 1/1;
    width: 10rem;
    align-self: center;
}
header{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
body{
    background: rgb(20,108,148);
    background: linear-gradient(144deg, rgba(20,108,148,1) 0%, rgba(25,167,206,1) 47%, rgba(175,211,226,1) 77%, rgba(246,241,241,1) 92%);
    margin: 0;
    padding: 1rem 2rem;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 2rem;
    margin: 0;
}
p,li{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;

}
section{
    margin: 2rem 0;
}
.main-title{
    text-align: center;
}
body  {
    background: linear-gradient(291deg, #1552a9, #1c82ad, #7ac7b6);
    background-size: 600% 600%;

    animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 38%}
    50%{background-position:100% 63%}
}
/* type-writer effect */
.typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight:bold;
  }
  
  .typewriter-effect > .text {
    max-width: 0;
    animation: typing 4.9s steps(var(--characters)) infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .typewriter-effect::after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: steps(30,end);
  }
  
  @keyframes typing {
    75%,
    100% {
      max-width: calc(var(--characters) * 1ch);
    }
  }
  
  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
  }