<%-include('header.ejs')-%>
    <h2 class="post-title <%=theme%>_color">About Me</h2>
    <p class="<%=theme%>_color">Parshi Praneesh</p>
    <div class="post">
        <h2>Allow Me To Introduce Myself</h2>
        <p>Hi👋 I'm Parshi Praneesh. I'm currently a CSE-DS undergrad at VNR Viganan Jyothi Institute of Enginnering and Technology. I'm proficient in JavaScript, and I write technical blogs on the same.
            <br>
            <br>
            Thanks for stopping by!! Have a nice day :)</p>
    </div>
<%-include('footer.ejs')-%>