<%-include('header.ejs')-%>
    <h2 class="post-title <%=theme%>_color">About Me</h2>
    <p class="<%=theme%>_color">Parshi Praneesh</p>
    <div class="post">
        <h2>Allow Me To Introduce Myself</h2>
        <p style="text-align: justify;">Hi👋 I'm Parshi Praneesh, a seasoned web developer with expertise in languages like C, C++, JavaScript, Java, and Python. In a notable hackathon, my team mastered Python for web development in a day and built a winning chatbot with GPT-3.5's API and MongoDB in just two days.
            <br>
            <br>
        As a data science undergraduate at VNR VJIET, I stay updated on the latest tech trends, blending my passion for technology with a knack for replicating websites with precision. Eager to delve into machine learning, I'm open to collaborations to create exceptional websites. Let's explore the possibilities together!
            <br>
            <br>
            Thanks for stopping by!! Have a nice day :)</p>
    </div>
<%-include('footer.ejs')-%>