<%-include('header.ejs');-%>
    <div class="content">
      <div class="hello">
        <h1>Hey There!! I'm Praneesh</h1>
        <p>
          and Welcome to my blog. Here you'll find most of the stuff about
          technologies out there. <br />
          <br />
          If this stuff bores you out, we understand :( but if you're curious
          about this, even a little bit. I promise to make this thing
          engaging, relatable, and fun. So are you
          <span class="code">...Ready for it</span>?
        </p>
      </div>
    </div>
    <div class="posts"></div>

    <%-include('footer.ejs');-%>