<%-include('header.ejs');-%>
    <div class="content">
      <div class="hello">
        <h1>Hey There!! I'm Praneesh</h1>
        <p>
          Welcome to my digital space! I'm Praneesh, a versatile web developer proficient in languages like C, C++, JavaScript, Java, and Python. With a keen eye for precision, I specialize in replicating websites with exacting detail.
        </p>
        <h2>Passion for Technology:</h2>
        <p>
Beyond coding, I am passionate about staying at the forefront of tech innovations. In my free time, I immerse myself in tech news and optimistic science videos, reflecting my commitment to continuous learning.
</p>
      </div>
    </div>
    <div class="posts"></div>

    <%-include('footer.ejs');-%>